*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: hsl(212, 45%, 89%);
  font-size: 16px;
  margin: 25vh auto;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
  text-align: center;

}

.container{
  max-width: 1440px;
  width: 95%;
  overflow: hidden;
  margin: auto;
}

.card{
  max-width: 280px;
  padding: 0.9rem;
  margin: 0 auto;
  border-radius: 15px;
  background-color: white;

  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 12px;
}
.card__img{
  width: 100%;
}
.container__img{
  border-radius: 7px;
  width: 100%;
}

.card__body{
  text-align: center;
  font-size: 0.85rem;
}

.card__title{
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

.card__info{
  margin: 12px 0 ;
  color: hsl(220, 15%, 55%);
  font-weight: 400;

}
